.controls-container{

  display: flex;
  justify-content: center;
  align-items: center;

}
.control-container{
  margin: 0 4px 0 4px;
  color: rgb(75, 75, 75);
}

.edit{
  color: rgb(75, 75, 75); 
}
.delete{
  color: rgb(75, 75, 75); 
}
.edit:hover{
  color: orange
}
.delete:hover{
  color: red
}
